<h1>Editing administracion</h1>

<%= render "form", administracion: @administracion %>

<br>

<div>
  <%= link_to "Show this administracion", @administracion %> |
  <%= link_to "Back to administraciones", administraciones_path %>
</div>
