<p style="color: green"><%= notice %></p>

<h1>Administraciones</h1>

<div id="administraciones">
  <% @administraciones.each do |administracion| %>
    <%= render administracion %>
    <p>
      <%= link_to "Show this administracion", administracion %>
    </p>
  <% end %>
</div>

<%= link_to "New administracion", new_administracion_path %>
