<p style="color: green"><%= notice %></p>

<%= render @servicio_realizado %>

<div>
  <%= link_to "Edit this servicio realizado", edit_servicio_realizado_path(@servicio_realizado) %> |
  <%= link_to "Back to servicio realizados", servicios_realizados_path %>  
</div>
