<p style="color: green"><%= notice %></p>

<%= render @servicio_realizado %>

<div>
  <%= link_to "Editar", edit_servicio_realizado_path(@servicio_realizado) %> |
  <%= link_to "Cerrar", servicios_realizados_path %>  
</div>
