<div id="<%= dom_id empresa_chofer %>">
  <p>
    <strong>Empresa:</strong>
    <%= empresa_chofer.empresa_id %>
  </p>

  <p>
    <strong>Chofer:</strong>
    <%= empresa_chofer.chofer_id %>
  </p>

  <p>
    <strong>Fecha alta:</strong>
    <%= empresa_chofer.fecha_alta %>
  </p>

</div>
