
<div class="pb-2 mt-4 mb-2 border-bottom">
  <div class="row">
    <div class="col-sm-6">
      <h3>Incorporacion de chofer a empresa</h3>
    </div>   
  </div>
</div>


 <p>
    <strong>Empresa:</strong>
    <%= @empresa.nombre %>
  </p>

  <p>
    <strong>Chofer:</strong>
    <%= @chofer.nombre %>
  </p>


<%= render "form", empresa_chofer: @empresa_chofer %>
