<div id="<%= dom_id item_mantenimiento %>">
  <p>
    <strong>Nombre:</strong>
    <%= item_mantenimiento.nombre %>
  </p>

  <p>
    <strong>Cambiar dias:</strong>
    <%= item_mantenimiento.cambiar_dias %>
  </p>

  <p>
    <strong>Cambiar kmts:</strong>
    <%= item_mantenimiento.cambiar_kmts %>
  </p>

</div>
